h2{
	padding: 15px;
}

.container{
	background-color: #3c637b;
}

#imagen{
	padding: 3%;
}

body {
    background-color: #3c637b;
  }

h1,h2,li,strong {
	color: #cce1bd !important;
	margin-left: 20px;
	font-family: 'Shantell Sans', cursive;
}
h1 
{
	text-align: center;
	padding: 30px 20px;
}
#imag 
{
	height: auto;
	width: auto;
}
*{
	font-family: 'Shantell Sans', cursive;
	font-size: 20px;
}

ul {
  list-style-type: square;
}

span.material-icons{
	font-size: 18px!important;
}
.parali{
	font-size: 20px;
}
